<!DOCTYPE html>
<html lang="en" >
<!--/* Styles, meta data, and title are included */-->
<head data-th-replace="~{fragments/header :: headerFragment}" >
  <meta charset="UTF-8" >
  <title >Thymeleaf Springboot </title >
</head >
<body class="sb-nav-fixed" >
<nav data-th-replace="~{fragments/navBar :: navBarFragment}" ></nav >
<link data-th-href="@{/css/combo-box-search.css}" media="all" rel="stylesheet" type="text/css" />
<link data-th-href="@{/css/modal.css}" media="all" rel="stylesheet" type="text/css" />


<!--Creates the popup body-->
<div class="popup-overlay" >
  <!--Creates the popup content-->
  <div class="popup-content" >
    <div class="form-row" >
      <!--item name-->
      <div class="form-group col-md-12" >
        <label for="itemName" class="text-dark" >Item Name :</label >
        <input id="itemName" class="form-control" type="text" readonly />
        <input id="ledgerId" class="form-control" type="text" hidden />
      </div >
    </div >
    <div class="form-row" >
      <!--Available Quantity-->
      <div class="form-group col-md-6" >
        <label for="abQuantity" class="text-dark" >Available Quantity :</label >
        <input id="abQuantity" class="form-control" type="text" readonly />
      </div >
      <!--Request -->
      <div class="form-group col-md-6" >
        <label for="requestCount" class="text-dark" >Request Count :</label >
        <input id="requestCount" class="form-control" type="number" step="1" />
      </div >
    </div >
    <!--button area-->
    <div class="form-row" >
      <div class="col-6" ></div >
      <div class="col " >
        <button class="btn btn-danger" id="close" >Close</button >
      </div >
      <div class="col " >
        <button class="btn btn-success" id="addModal" >Add</button >
      </div >
    </div >
  </div >
</div >

<div id="accordianId" role="tablist" aria-multiselectable="true" >
  <div class="card" >
    <div class="card-header" role="tab" id="section1HeaderId" >
      <a data-toggle="collapse" data-parent="#accordianId" href="#section1ContentId" aria-expanded="true"
         aria-controls="section1ContentId" >
        <h5 class="mb-0 container-fluid text-center" >
          Project Detail
        </h5 >
      </a >
    </div >
    <div id="section1ContentId" class="collapse in" role="tabpanel" aria-labelledby="section1HeaderId" >
      <div class="card-body" >
        <div data-th-replace="~{project/project-detail :: projectDetailsFragment}" ></div >
      </div >
    </div >
  </div >
</div >

<div class="container-fluid mt-3" >
  <div class="container-fluid" >
    <form action="/projectOrder" method="post" data-th-object="${projectOrder}" >
      <!--ledgers will list-->
      <div class="form-group" >
        <!--Ledgers item-->
        <div class="form-row " >
          <div class="col-2 text-right" >
            <label class="control-label" for="item" >Items :</label >
          </div >
          <div class="col-10 text-left" >
            <select id="item" class="form-control" tabindex="9" >
              <option value="" >Please select</option >
              <option data-th-each="ledger : ${ledgers}"
                      data-th-text="${'Item Name: '+ledger.item.name+'Available quantity : '+ledger.quantity}"

                      data-th-value="${ledger.id}" >
                Please select
              </option >
            </select >
          </div >
        </div >
      </div >
      <!--selected ledger items-->
      <div class="form-group" >
        <div class="form-row" >
          <div class="container" >
            <div class="col" >
              <table class="table table-hover table-striped " id="myTable" >
                <thead >
                <tr >
                  <th >Index</th >
                  <th >Item Name</th >
                  <th >Available Quantity</th >
                  <th >Quantity</th >
                  <th >Modify</th >
                </tr >
                </thead >
                <tbody >

                </tbody >

              </table >
            </div >
          </div >
        </div >
      </div >
      <hr >
      <input data-th-name="${'project.id'}" data-th-value="${projectDetail.id}" placeholder="Total Price" hidden required>
      <hr >
      <!--remarks and projectOrder print or not-->
      <div class="form-group" >
        <div class="form-row" >
          <!--Remarks-->
          <div class="col-md-12" >
            <div class="form-row text-right" >
              <div class="col-md-4" >
                <label for="remarks" >Remarks :</label ></div >
              <div class="col-md-8" >
                                            <textarea id="remarks" class="form-control" data-th-field="*{remarks}"
                                                      rows="2" ></textarea >
              </div >
            </div >
          </div >
        </div >
      </div >


      <hr >
      <!--buttSelect Items:on-->
      <div class="form-group" >
        <!--Button-->
        <div class="form-group col-md-12 col-sm-12 text-center flex-column " >
          <!--Back Button-->
          <a class="btn btn-dark" href="/projectOrder" tabindex="14" >
            <i class="fas fa-arrow-circle-left" style="font-size: 20px" ></i >&nbsp;&nbsp;Back
          </a >
          <!--Save Button-->
          <button class="btn btn-success ml-5" tabindex="12" type="submit" >
            <i class="fa fa-save " style="font-size: 20px" ></i >&nbsp;&nbsp;<span
                data-th-text="${'Save'}"
                id="submit" ></span >
          </button >
          <!--Reset Button-->
          <button class="btn btn-warning btn/reset ml-5" tabindex="13" type="reset" >
            <i class="far fa-times-circle" style="font-size: 20px" ></i >&nbsp;&nbsp;Reset
          </button >
        </div >
      </div >
    </form >
  </div >
</div >

<input type="hidden" data-th-value="${ledgerItemURL}" id="ledgerItemURL" >
<!--/* footer is */-->
<div data-th-replace="~{fragments/footer :: footerFragment}" ></div >
<!--/* script is included */-->
<div data-th-replace="~{fragments/script :: scriptFragment}" ></div >
<script data-th-src="@{/js/combo-box-search.js}" ></script >
<script >
    //removes the "active" class to .popup and .popup-content when the "Close" button is clicked
    $("#close, .popup-overlay body").on("click", function () {
        $(".popup-overlay, .popup-content").removeClass("active");
        modalValueZero();
    });

    $(document).ready(function () {
        $("#btnshow").hide();
        $("#item").select2({
            data: $(this).val()
        }).change(() => {
            let finalUrl = $('#ledgerItemURL').val() + $("#item").val();
            $.ajax({
                type: 'GET',
                url: finalUrl,
                success: function (resp) {
                    popUpDataSet(resp);
                },
                error: function (err) {
                    console.log(err);
                }
            });

        });

        $("#project").select2({
            data: $(this).val()
        });
        $("input[value='CASH']").prop('checked', true);
        showHideContent();
        $("input[value='NOT_PRINTED']").prop('checked', true);

    });

    let selectedOrderLedger = [];

    function popUpDataSet(resp) {
        $("#ledgerId").val(resp.id);
        $("#itemName").val(resp.item.name);
        $("#abQuantity").val(resp.quantity);

        $(".popup-overlay, .popup-content").addClass("active");
        addButtonDisable();
    }

    function addButtonDisable() {
        let requestInputValue = $('#requestCount').val();
        if (requestInputValue) {
            $("#addModal").show();
        } else {
            $("#addModal").hide();
        }
    }

    $('#addModal').bind('click', function () {
        let receivedLedgerItem = {};// ledgerItem
        receivedLedgerItem.id = $("#ledgerId").val();
        receivedLedgerItem.name = $("#itemName").val();
        receivedLedgerItem.quantity = $("#abQuantity").val();
        receivedLedgerItem.requestCount = $("#requestCount").val();
        receivedLedgerItem.totalModal = $("#totalModal").val();
        selectedOrderLedger.push(receivedLedgerItem);
        $(".popup-overlay, .popup-content").removeClass("active");
        optionElementRemove('#item');
        itemAddToItemSelectTable();
        modalValueZero();
    });

    function itemAddToItemSelectTable() {
        let html = "";
        for (let i = 0; i < selectedOrderLedger.length; i++) {
            html += tableRowCreate(i, selectedOrderLedger[i]);
        }
        $("#myTable tbody ").html(html);
        totalPrice();
    }

    function tableRowCreate(id, orderLedger) {
        return `<tr >
                          <th >${id + 1}
                          <input type="hidden" id="id${id}" class="form-control"  name="orderLedgers[${id}].ledger.id" value="${orderLedger.id}">
                          </th >
                          <th >
                          <input type="text" id="na${id}" class="form-control" value="${orderLedger.name}" readonly>
                          </th >
                          <th >
                          <input type="number" id="aq${id}" class="form-control" value="${orderLedger.quantity}" readonly>
                          </th >
                          <th >
                          <input type="number" id="rq${id}" class="form-control" name="orderLedgers[${id}].quantity" value="${orderLedger.requestCount}" readonly>
                          </th>
                          <th>
                          <button type="button" id="rm${id}" class="btn btn-danger" onclick="removeItem(this)">Remove</button>
                          </th>
                        </tr >`
    }

    function removeItem(obj) {
        let selectedFiledId = obj.getAttribute('id').slice(2);
        //id,name,sellPrice,abQut,exDate
        $("#item").append(optionTagAdd(
            $(`#id${selectedFiledId}`).val(),
            $(`#na${selectedFiledId}`).val(),
            $(`#sp${selectedFiledId}`).val(),
            $(`#aq${selectedFiledId}`).val(),
            $(`#ex${selectedFiledId}`).val()));
        selectedOrderLedger = selectedOrderLedger.filter(function (obj) {
            return obj.id !== $(`#id${selectedFiledId}`).val();
        })
        document.getElementById("myTable").deleteRow(obj.parentNode.parentNode.rowIndex);
        totalPrice();
    }



    function totalPrice() {
        let lineTotal = document.getElementsByClassName("lineTotal");
        let totalValue = 0;
        for (let i = 0; i < lineTotal.length; i++) {
            totalValue += parseFloat(lineTotal[i].value);
        }
        $("#total").val(totalValue);
        $("#totalAmount").val(totalValue);
        if ($("#discountRatio").find('option:selected').text() >= 0) {
            discountRatio();
        }
    }

    //modal total mount calculate
    //modal total mount calculate
    $("#requestCount").bind('keyup', function () {
      totalPriceCard();
    });

    function totalPriceCard() {
      let requestCountVal = $("#requestCount").val();
      let abQuantity = $("#abQuantity").val();

      if (parseFloat(abQuantity) >= parseFloat(requestCountVal) && ! isNaN(requestCountVal)) {
        $("#totalModal").val(parseFloat($("#sellPriceModal").val()) * parseFloat(requestCountVal));
        addButtonDisable();
      } else {
        swal({
          title: "Request more than available or less than available  ",
          icon: "warning",
        });

        addButtonDisable();
      }
    }

    //modal all values zero
    function modalValueZero() {
        $("#ledgerId").val(0);
        $("#itemName").val('');
        $("#abQuantity").val(0);
        $("#exDate").val('');
        $("#sellPriceModal").val(0.00);
        $("#requestCount").val('');
        $("#totalModal").val(0.00);
    }

    $("input[name='paymentMethod']").bind('change', function () {
        showHideContent();
    });

    function showHideContent() {
        let paymentMethodValue = $("input[name='paymentMethod']:checked").val();
        if (paymentMethodValue === 'CASH') {
            $("#bankNameBlock").hide();
            $("#cashPaymentBlock").show();
            $("#amountTendered, #balance").prop('required', true);
        } else {
            $("#cashPaymentBlock").hide();
            $("#bankNameBlock").show();
            $("#bankName, #cardNumber").prop('required', true);
        }
    }

    $('#discountRatio').bind('change', function () {
        let total = $("#total").val();
        if (total <= 0 || total === null) {
            swal({
                title: "Before select discount have to select item  ",
                icon: "warning",
            });
        }
        discountRatio();
    });

    function discountRatio() {
        let discountRatio = parseFloat($("#discountRatio").find('option:selected').text());
        let total = parseFloat($("#total").val());
        let discountAmount = total * discountRatio / 100;
        $("#totalAmount").val(total - discountAmount);
        $("#discountAmount").val(discountAmount);
    }

    $("#amountTendered").bind('focusout', function () {
        let tenderedAmount = $(this).val();
        let totalAmount = $("#totalAmount").val();
        if (tenderedAmount < totalAmount) {
            swal({
                title: "Hey why do you try to pay less money",
                icon: "warning",
            });
            $("#amountTendered").val(totalAmount);
        } else {
            $("#balance").val(tenderedAmount - totalAmount);
        }
    });

    //option tag remove
    let optionElementRemove = (id) => {
        let selectedValue = $(id).val();
        let selectedItemId = `${id} option[value='${selectedValue}']`;
        $(selectedItemId).remove();
    }

    //option tag add
    function optionTagAdd(id, name, sellPrice, abQut, exDate) {
        return `<option value="${id}">
                          Item Name: ${name}  Sell Price : {sellPrice}
                          Available quantity : ${abQut}  Expired Date : ${exDate}
                        </option>`;
    }

</script >
</body >
</html >
