<!DOCTYPE html>
<html lang="en" >
<head data-th-replace="~{fragments/header :: headerFragment}" >
  <meta charset="UTF-8" >
  <title >project</title >
</head >
<body class="sb-nav-fixed" >
<nav data-th-replace="~{fragments/navBar :: navBarFragment}" ></nav >
<!--heading Area-->
<div class="container-fluid  form-Border" >
  <div class="row text-center formManagement border-info" >
    <!--New Customer Button-->
    <div class="col" >
      <a class="btn btn-success" href="/project/add" tabindex="1" >
        <i class="fas fa-plus" style="font-size: 20px" ></i >&nbsp;&nbsp;New
      </a >
    </div >
    <!--List Name-->
    <div class="col" >
      <h2 class="text-white text-center" >
        <strong >
          Customer List
        </strong >
      </h2 >
    </div >
    <!--Home Button-->
    <div class="col" >
      <a href="/home" id="searchShow" class="btn btn-primary" tabindex="2" >
        <!--<i class="fa fa-user " style="font-size: 20px"></i>&nbsp;Add&nbsp;-->
        <i class="fas fa-home" style="font-size: 20px" ></i >&nbsp;&nbsp;Home
      </a >
    </div >
  </div >
</div >
<!--Customers List-->
<div class="container-fluid text-center" >
  <!--Table view-->
  <div class="col" >
    <div class="col" id="customerListPresent" data-th-if="${not #lists.isEmpty(projects)}" >
      <table class="table table-hover table-striped" id="myTable" >
        <thead >
        <tr >
          <th > Index</th >
          <th > Name</th >
          <th > Code</th >
          <th > Start Date</th >
          <th > Project Status</th >
          <th > Address</th >
          <th > Modify</th >
        </tr >
        </thead >
        <tbody >
        <tr data-th-each="project, rowCount : ${projects}" >
          <th data-th-text="${rowCount.count}" ></th >
          <th data-th-text="${project.name}" ></th >
          <th data-th-text="${project.code}" ></th >
          <th data-th-text="${project.startDate}" ></th >
          <th data-th-text="${project.projectStatus.projectStatus}" ></th >
          <th data-th-text="${project.address}" ></th >
          <th style="margin-top:10px">
            <a data-th-href="${'/project/' + project.id}" class="btn btn-primary btn-sm" ><i
                  class="fa fa-folder-open" style="font-size: 15px" ></i >&nbsp;View</a >
            <a data-th-href="${'/project/edit/' + project.id}"
               class="btn btn-success btn-sm" ><i class="fa fa-edit"
                                                  style="font-size: 15px" ></i >&nbsp;Edit</a >
            <a data-th-href="${'/projectEmployee/add/' + project.id}"
               class="btn btn-success btn-sm" ><i class="fa fa-plus"
                                                  style="font-size: 15px" ></i >&nbsp;Add Employee</a >
            <a data-th-href="${'/projectOrder/add/' + project.id}"
               class="btn btn-warning btn-sm"  style="margin-top:3px"><i class="fa fa-plus"
                                                  style="font-size: 15px;" ></i >&nbsp;Add Order</a >

            <a data-th-if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
               data-th-href="${'/project/delete/' + project.id}"
               class="btn btn-danger btn-sm" >

              <i class="fa fa-trash" style="font-size: 15px" ></i > Delete </a >
          </th >
        </tr >
        </tbody >
      </table >
    </div >
  </div >
  <!--Error-->
  <div class="row" data-th-if="${ #lists.isEmpty(projects)}" >
    <div class="col-sm-12" >
      <div class="alert alert-warning alert-dismissible fade show" role="alert" >
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" >
          <span aria-hidden="true" >&times;</span >
        </button >
        <h3 class="text-center text-danger" >
          <strong >There is no project upto now please add project to the system
                   using "New" button.
          </strong >
        </h3 >
      </div >
    </div >
  </div >
  <!--Save project-->
  <div class="row" data-th-if="${customerDetail != null}" >
    <div class="col-sm-12" >
      <div class="alert alert-warning alert-dismissible fade show" role="alert" >
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" >
          <span aria-hidden="true" >&times;</span >
        </button >
        <!--save project include-->
        <div data-th-replace="~{project/project-detail :: projectDetailsFragment}" ></div >
      </div >
    </div >
  </div >
</div >

<div data-th-replace="~{fragments/footer :: footerFragment}" ></div >
<!--script include-->
<div data-th-replace="~{fragments/script :: scriptFragment}" ></div >


<script >
    /*active boostrap alert - start*/
    $(".alert").alert();
    /*active boostrap alert - end*/
</script >
</body >
</html >
